<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'home')}">>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <title>Expense List</title>
</head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h1 class="panel-title">Expenses</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(expenses)}">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Category</th>
                                </tr>
                                </thead>
                                <tr th:each="expense: ${expenses}">
                                    <td th:text="${expense.id}">1</td>
                                    <td th:text="${#dates.format(expense.date, 'MM/dd/yyyy')}">12/12/12</td>
                                    <td th:text="${expense.description}">This is a placeholder expense</td>
                                    <td th:text="'$' + ${expense.amount}">12.12</td>
                                    <td th:text="${expense.category.description}">Food</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
